<header class="header">
  <div class="container header-inner">
    <nav class="nav">
<a href=> Sunshine Workshop</a>
      <a href="/">Home</a>
      <a href="/admin">Admin</a>
    </nav>
  </div>
</header>
